In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
city_df = pd.DataFrame(pd.read_csv("city_data.csv"))
ride_df = pd.DataFrame(pd.read_csv("ride_data.csv"))
print(city_df.head())
print(ride_df.head())

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban
                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344